@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
.App {
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background-color: #355584;
    height: 85px;
    padding: 20px;
    color: white;
    font-size: 24px;
  }

.App-intro {
  font-size: large;
}

.Graph {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
}

.conf {
  text-align: -webkit-left;
    margin-left: 40px;
    width: 80%;
}

h1 {
    font-size: 4.5rem;
    font-weight: 100;
}

h2 {
    font-size: 3rem;
    font-weight: lighter;
    margin: 10px 10px 12px 10px;
}

h3 {
    font-size: 2.25rem;
    font-weight: lighter;
}

h4 {
    font-size: 1.75rem;
    font-weight: 100;
}
h5 {
    font-size: 1.55rem;
    font-weight: 100;
}

#total-req{
  padding: 0px 15px 0;
}

#panels {
  text-align: -webkit-center;
}

#logs{
	color: #77c28e;
    background-color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
    height: auto;
    max-height: 300px;
    overflow: scroll;
}

#conf{
  font-size: small;
  margin-left: 20px;

}


.list-groups {
  border: solid;
    border-radius: 8px;
}

 .panel {
-webkit-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.75);
}

#avg-time{

    margin-left: 15px;

}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
